<a href="https://colab.research.google.com/github/SDashev/First-Repository-and-Exercises/blob/master/insta_cart_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We visualize data from the cleaned dataset.

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving combined_data.zip to combined_data.zip
User uploaded file "combined_data.zip" with length 455692216 bytes

In [0]:
!unzip combined_data.zip
!ls

Archive:  combined_data.zip
  inflating: combined_data.csv
combined_data.csv  combined_data.zip  sample_data

We import the necessary packages

In [0]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import csv
import seaborn as sns
sns.set()

We read the dataset into frame df.

In [0]:
df = pd.read_csv('combined_data.csv', index_col=['user_id', 'order_id'])

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33819013 entries, (1, 2539329) to (205420, 3093936)
Data columns (total 11 columns):
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
product_id                int64
add_to_cart_order         int64
reordered                 int64
product_name              object
aisle                     object
department                object
dtypes: float64(1), int64(6), object(4)
memory usage: 3.1+ GB

In [0]:
df.head()

                 eval_set  order_number  ...          aisle  department
user_id order_id                         ...
1       2539329     prior             1  ...  cookies cakes      snacks
        2398795     prior             2  ...  cookies cakes      snacks
        473747      prior             3  ...  cookies cakes      snacks
        2254736     prior             4  ...  cookies cakes      snacks
        431534      prior             5  ...  cookies cakes      snacks

[5 rows x 11 columns]

In [0]:
cat_columns = ['eval_set', 'product_name', 'aisle', 'department']
df[cat_columns].astype('category')
df.tail()

                 eval_set  order_number  ...                 aisle  department
user_id order_id                         ...
202557  1320836     prior            17  ...               missing     missing
        31526       prior            18  ...               missing     missing
203436  758936      prior             1  ...          fresh fruits     produce
        2745165     prior             2  ...          fresh fruits     produce
205420  3093936     prior             1  ...  other creams cheeses  dairy eggs

[5 rows x 11 columns]

What is the distribution of the orders by day of week?
We group orders by day of week and count.

In [0]:
list = ['eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 
       'add_to_cart_order', 'reordered', 'product_name', 'aisle', 'department']
df1 = df[list]
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33819013 entries, (1, 2539329) to (205420, 3093936)
Data columns (total 10 columns):
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
add_to_cart_order         int64
reordered                 int64
product_name              object
aisle                     object
department                object
dtypes: float64(1), int64(5), object(4)
memory usage: 2.8+ GB

In [0]:
!zip combined_data.zip combined_data.csv
!ls

  adding: combined_data.csv (deflated 86%)
combined_data.csv  combined_data.zip  sample_data